#movie-details {
    position: relative;
    margin-bottom: 20px;
}

    #movie-details #movie-details-container {
        /*  padding: 20px 140px;*/
        padding: 20px;
    }

    #movie-details #poster {
        float: left;
        width: 400px;
        margin-right: 20px;
        padding-top: 95px;
    }

    #movie-details #general-movie-info {
        color: #A5A2A2;
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    #movie-details #info {
        float: left;
        width: 250px;
    }

    #movie-details .title {
        padding: 5px;
        text-align: center;
    }

    #movie-details .horizontal-line {
        height: 5px;
        border-top: 1px solid black;
    }

    #movie-details .carousel img {
        width: 260px;
        padding-top: 20px;
    }

    #movie-details #trailer-container {
    }

    #movie-details #button-bar {
        position: absolute;
        width: 65px;
        font-size: 2em;
        text-align: center;
        background-color: #D58A00;
        height: 430px;
    }

    #movie-details .text-content {
        padding: 20px;
        color: silver;
    }

        #movie-details #button-bar ul {
            padding: 0;
        }

            #movie-details #button-bar ul li {
                list-style-type: none;
                padding: 10px 0 10px 0;
            }

                #movie-details #button-bar ul li:hover {
                    cursor: pointer;
                    background-color: #F8F8F8;
                    color: black;
                }
    #movie-details .tab-view .tab-container {
        padding:20px;
        color: silver;

    }

    #movie-details .tab-view .btn-default {
        background-color: #D58A00;
        border-color: #31363A;
    }
    #movie-details .tab-view .btn-default.active {
        background-color: #F8F8F8;
    }

        #movie-details .tab-view .btn-default:hover {
            background-color: #F8F8F8;
        }
.movie-detail-box {
    display: inline-block;
    margin-right: 20px;
    height: 430px !important;
    width: 700px;
    background: #000;
    border-radius: 5px;
    overflow: auto;
    white-space: normal;
}

    .movie-detail-box.text-content.big {
        width: 450px;
    }

    .movie-detail-box.text-content.small {
        width: 250px;
        font-size: 100%;
    }

    .movie-detail-box iframe {
        margin-top: 25px;
        margin-left: 10px;
    }