#movie-details {
    position: relative;
}

    #movie-details #movie-details-container {
        /*  padding: 20px 140px;*/
        padding: 20px;
    }

    #movie-details #poster {
        float: left;
        width: 400px;
        margin-right: 20px;
        padding-top: 95px;
    }

    #movie-details #general-movie-info {
        color: #A5A2A2;
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    #movie-details #info {
        float: left;
        width: 250px;
    }

    #movie-details .title {
        padding: 5px;
        text-align: center;
    }

    #movie-details .horizontal-line {
        height: 5px;
        border-top: 1px solid black;
    }

    #movie-details img {
        width: 400px;
    }

    #movie-details #trailer-container {
    }

    #movie-details #button-bar {
        position: absolute;
        width: 149px;
        font-size: 2em;
        text-align: center;
        background-color: #D58A00;
        height: 100%;
    }

        #movie-details #button-bar ul {
            padding: 0;
        }

            #movie-details #button-bar ul li {
                list-style-type: none;
                padding: 20px 0 20px 0;
            }

                #movie-details #button-bar ul li:hover {
                    cursor: pointer;
                    background-color: #F8F8F8;
                    color: black;
                }

.movie-detail-box {
    display: inline-block;
    margin-right: 20px;
    height: 530px !important;
    background: #000;
    border-radius: 5px;
    overflow: auto;
    white-space: normal;
}

    .movie-detail-box.text-content {
        padding: 20px;
        color: silver;
    }

        .movie-detail-box.text-content.big {
            width: 450px;
        }

        .movie-detail-box.text-content.small {
            width: 250px;
            font-size: 100%;
        }

    .movie-detail-box iframe {
        margin-top: 20px;
    }
