<div data-ng-view id="view-container" data-ng-class="{'full-view-container-width': homeCtrl.isWatchlistVisible()}"></div>

<div id="download-list"
     class="visible-lg-block download-list"
     droppable>
    <div data-ng-hide="homeCtrl.dragPending">
        <ul class="movie-dropdown">
            <li>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a data-ng-class="{'btn':true, 'btn-default':true, 'active': movieTypeFilter == 1}" title="Binnenkort in de bioscoop" data-ng-click="movieTypeFilter = 1">
                        <img src="~/Images/SoonInCinema.png" /> <span class="badge alert-success">{{ countMovieType(1) }}</span>
                    </a>
                    <a data-ng-class="{'btn':true, 'btn-default':true, 'active': movieTypeFilter == 2}" title="In de bioscoop" data-ng-click="movieTypeFilter = 2">
                        <img src="~/Images/InCinema.png" /> <span class="badge alert-danger">{{ countMovieType(2) }}</span>
                    </a>
                    <a data-ng-class="{'btn':true, 'btn-default':true, 'active': movieTypeFilter == 3}" title="Uit op DVD" data-ng-click="movieTypeFilter = 3">
                        <img src="~/Images/Dvd.png" /> <span class="badge alert-warning">{{ countMovieType(3) }}</span>
                    </a>
                    <a data-ng-class="{'btn':true, 'btn-default':true, 'active': movieTypeFilter == 4}" title="Uit op DVD" data-ng-click="movieTypeFilter = 4">
                        <i class="fa fa-question"></i> <span class="badge alert-warning">{{ countMovieType(4) }}</span>
                    </a>
                </div>
                <div data-ng-repeat="m in homeCtrl.moviesToDownload | filter: filter | orderBy: 'Movie.Title'"
                     class="to-download-item">
                    <div class="clearfix" data-ng-mouseover="rowHovered = true" data-ng-mouseleave="rowHovered = false">
                        <div class="col-sm-1">
                            <i class="fa fa-trash-o"
                               data-ng-click="homeCtrl.deleteMovieFromDownloadList(m)"
                               title="Verwijder uit lijst"
                               data-ng-show="rowHovered"></i>
                        </div>
                        <div data-ng-class="{'col-sm-9': true, 'striked': m.Movie.Downloaded}">
                            <a ng-href="/#/Movie/{{m.Movie.Imdb}}">{{m.Movie.Title}}</a>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-download btn-xs"
                                    data-ng-click="homeCtrl.markMovieAsDownloaded(m)"
                                    title="Markeer als gedownload"
                                    data-ng-show="!m.Movie.Downloaded && rowHovered">
                                <i class="fa fa-download"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div data-ng-show="homeCtrl.dragPending" class="dropzone">
        Drop hier de film om hem toe te voegen aan de lijst.
    </div>
</div>


