<div id="movie-details">
    <div id="movie-details-container">
        <div id="poster">
            <movie-poster imdb="{{movieCtrl.movieDetails.ImdbId}}"></movie-poster>
        </div>

        <h1>{{movieCtrl.movieDetails.Title}}</h1>

        <div id="general-movie-info">
            Duur:
            {{movieCtrl.movieDetails.Duration}} | ImdbId: {{movieCtrl.movieDetails.ImdbId}}  | Jaar: {{movieCtrl.movieDetails.Year}}
        </div>

        {{movieCtrl.movieDetails.Plot}}

        <div style="clear:both;"></div>
    </div>
</div>
