<div id="overview-background">
    <div data-ng-repeat="m in movies | orderBy: '-date'">
        <div class="date">
            {{m.date | date: 'EEEE d MMMM yyyy'}}
        </div>
        <div class="wrapper">
            <div class="scrolls">
                <div data-ng-repeat="y in m.movies" style="position:relative" data-ng-class="{'moviebox': true}">
                    <div id="{{y.Imdb}}"
                         class="info-slider">
                        <!--<div data-ng-class="{'title': true, 'in-download-list': movieCtrl.IsMoviePresentInDownloadlist(y)}" title="{{y.Title }}">
                            {{y.Title}}</a>
                        </div>-->
                        <div class="poster"
                             draggable="{{y}}">
                            <a ng-href="/#/Movie/{{y.Imdb}}">
                                <movie-thumb data-thumbnail="{{y.Thumbnail}}"
                                             imdb="{{y.Imdb}}"></movie-thumb>
                            </a>
                        </div>
                        <div class="poster-button-bar">
                            <watchlist-button data-movie="y"></watchlist-button>
                            <movie-share-button data-movie="y"></movie-share-button>
                            <button class="btn btn-primary btn-xs"
                                    data-ng-click="movieCtrl.toggleExtraInfo(y)"
                                    title="Lees plot">
                                <i class="fa fa-info"></i>
                            </button>
                            <movie-trailer-button data-movie="y"> </movie-trailer-button>
                        </div>
                    </div>
                    <div class="movie-expand-info">
                        {{y.Plot}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   