<div id="movie-details">
    <div class="general-movie-info">
        <h1>{{movieCtrl.movieDetails.Title}}</h1>

        <div class="clearfix">
            <div class="pull-left">
                Duur:
                {{movieCtrl.movieDetails.Duration}} | Imdb  : {{movieCtrl.movieDetails.Imdb}}  | Jaar: {{movieCtrl.movieDetails.Year}}
            </div>
            <div class="pull-right">
                <movie-share-button data-movie="movieCtrl.movieDetails"></movie-share-button>
                <watchlist-button data-movie="movieCtrl.movieDetails"></watchlist-button>
            </div>
        </div>
    </div>
    <div id="button-bar">
        <ul>
            <li onclick="goToSlide(0)" title="Plot">
                <i class="fa fa-leanpub"></i>
            </li>
            <li onclick="goToSlide(1)" title="Filmposter">
                <i class="fa fa-camera"></i>
            </li>
            <li onclick="goToSlide(2)" title="Recenties">
                <i class="fa fa-comments"></i>
            </li>
            <li onclick="goToSlide(3)" title="Trailer">
                <i class="fa fa-video-camera"></i>
            </li>
            <li onclick="goToSlide(4)" title="Acteurs">
                <i class="fa fa-users"></i>
            </li>
            <li onclick="goToSlide(5)" title="Filminformatie">
                <i class="fa fa-info"></i>
            </li>
        </ul>
    </div>
    <div id="slides"
         class="carousel"
         style="margin-left:65px;"
         data-cycle-fx="carousel"
         data-cycle-timeout="0"
         data-cycle-slides="> div"
         data-cycle-center-horz=false
         data-cycle-center-vert=false>
        <div class="movie-detail-box text-content">
            <p>
                {{movieCtrl.movieDetails.Plot}}
            </p>
        </div>
        <div class="movie-detail-box text-center">
            <span>
                <movie-poster imdb="{{movieCtrl.movieDetails.Imdb}}"></movie-poster>
            </span>
        </div>
        <div class="movie-detail-box text-content">
            Hier de recenties.... ;)
        </div>
        <div class="movie-detail-box">
            <span>
                <movie-trailer data-url="{{movieCtrl.movieDetails.TrailerUrl}}"
                               data-width="680px"
                               data-height="383px">
                </movie-trailer>
            </span>
        </div>
        <div class="movie-detail-box text-content">
            Acteurs:
            <br />
        </div>
        <div class="movie-detail-box text-content">
            <dl>
                <dt>Regisseurs</dt>
                <dd>

                </dd>
            </dl>
            <dl>
                <dt>Duur</dt>
                <dd>{{movieCtrl.movieDetails.Duration}}</dd>
            </dl>
            <dl>
                <dt>Jaar</dt>
                <dd>{{movieCtrl.movieDetails.Year}}</dd>
            </dl>
            <dl>
                <dt>Alternatieve titel</dt>
                <dd>{{movieCtrl.movieDetails.AlternativeTitle}}</dd>
            </dl>
            <dl>
                <dt>Uit op DVD</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>Release bioscoop</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>Genre</dt>
                <dd>
                    <span data-ng-repeat="genre in movieCtrl.movieDetails.Genres">
                        {{genre}}<span data-ng-hide="$last">,</span>
                    </span>
                </dd>
            </dl>
            <dl>
                <dt>Landen</dt>
                <dd>
                    <span data-ng-repeat="country in movieCtrl.movieDetails.Countries">
                        {{country}}<span data-ng-hide="$last">,</span>
                    </span>
                </dd>
            </dl>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#slides').cycle();

        goToSlide(3);
    });

    function goToSlide(number) {
        $('#slides').cycle('goto', number);
        return false;
    }
</script>