<div style="padding:20px;">
    <h2>
        Er <span data-ng-show="movies.length == 1">is</span><span data-ng-show="movies.length > 1">zijn</span> {{movies.length}} film<span data-ng-show="movies.length > 1">s</span> gevonden.
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Titel
                </th>
                <th>
                    Jaar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="m in movies | orderBy:'-Year'">
                <td>
                    <a href="#/Movie/{{m.Imdb}}">{{m.Title}}</a>
                </td>
                <td>
                    {{m.Year}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
